.MapChartStyle {
    pointer-events: none;
    margin: none;
    max-width: 100%;
    /* background: #797979; */
}

.MarkersSryle {
    pointer-events: all;
    animation: radial-pulse 1s infinite;
    background: yellow;
}

@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
  }

  100% {
    box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
  }
}