.card-hover {

}

#card-hover:hover {
  background: yellow;
  height: '500px';
}

#block_id {
  display: none;
}

.table1 {
    /* display: 'flex';
    alignItems: 'left';
    justifyContent: 'center';
     width: 50%; */
     margin-left: auto;
    margin-right: auto;
    z-index: 999;
}