.not-uploaded-content {
  font-size: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.table1-parallax {
  margin-top: 80px;
  opacity: 80%;
  /* display: flex;
  align-items: center;
  justify-content: right; */
}

.table2-parallax {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* background-color: #805E73; */
}

.table3-parallax {
  /* display: flex; */
  align-items: center;
  justify-content: right;
  opacity: 80%;
}

.background-parallax {
  background-color: #293436;
  /* background-color: #253237; */
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  width: 50px;
  height: 50px;
}