@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.RangePicker {
    text-align: center;
}

#layout {
  font-family: 'Ubuntu', sans-serif;
  /* background: rgb(255, 255, 255); */
}

.site-layout-content {
  /* background: rgb(226, 226, 226); */
  padding: 24px;
  font-family: 'Ubuntu', sans-serif;
}

.logo {
  width: 50px;
  height: 30px;
  /* background: url(https://image.flaticon.com/icons/png/512/1420/1420337.png) center center no-repeat; */
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
  text-align: center;
  color: yellow;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  width: 50px;
  height: 50px;
}
#myBtn:hover {
  background-color: #555;
}
.defurl {
  display: none;
}

/* #hellopreloader>
      p {
        display:none;
      }
      #hellopreloader_preload {
        display: block;
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
        bottom: 50px;
        width: 100%;
        height: 100%;
        min-width: 1000px;
        background: rgb(255, 255, 255) url(https://i.gifer.com/t9k.gif ) center center no-repeat;
        background-size:400px;
      } */

      /* https://i.gifer.com/t9k.gif https://i.gifer.com/WS2c.gif*/
