@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.RangePicker {
    text-align: center;
}

.layout {
  font-family: 'Ubuntu', sans-serif;
}

.site-layout-content {
  /* background: rgb(226, 226, 226); */
  padding: 24px;
  font-family: 'Ubuntu', sans-serif;
}

.logo {
  width: 50px;
  height: 30px;
  /* background: url(https://image.flaticon.com/icons/png/512/1420/1420337.png) center center no-repeat; */
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
  text-align: center;
  color: yellow;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  width: 50px;
  height: 50px;
  background-color: rgb(4, 21, 40);
}
#myBtn:hover {
  background-color: #555;
}
